
.board {
  height: 100vh;
  width: 100vw;
  background-image:url('/src/Components/img/background.png');
  background-repeat:no-repeat;
  background-position:left center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.buttons {
  height: 94vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 45%;
}
  

button {
  background: transparent;
  border: 1px solid black  ;
  color: black;
  padding: 1.5vh;
  cursor: pointer;
  border-radius: 4px;
}
  
input {
  text-align: center;
  padding: 0px;
  width: 8.5vw;
  height: 8vh;
  background: transparent;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}
  
.dices {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomButtons {
  height: 25vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .buttons {
    height: 85vh;
    left: 35%;
  }
  .dices {
    height: 25vh;
  }
  input {
    width:25vw;
  }
}